<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-ios</TargetFramework>
    <RuntimeIdentifier>ios-arm64</RuntimeIdentifier>
    <ArchiveOnBuild>true</ArchiveOnBuild>
    <BuildIpa>true</BuildIpa>
    <CodesignKey>Apple Distribution: CEMAL SAVA (W88RGSA7HY)</CodesignKey>
    <CodesignProvision>Sonsuz Ucus App Store</CodesignProvision>
  </PropertyGroup>
</Project>
